@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

.Header-container {
  padding: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.logo-container img {
  width: 80%;
}
.header-menu-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.header-menu-item a {
  margin: 25px;
  color: black;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 750;
  font-size: 13pt;
}
.first-main-container {
  background-size: cover;
  background-position: center;
  height: 100vh;
  /* background-image: url(images/face\ 1.jpg); */
  background-image: url(images/Main\ BG.png);
}
.open-window-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-title {
  font-family: "Montserrat", sans-serif;
  margin-top: 160px;
  font-size: 65pt;
  font-weight: 700;
  line-height: 60pt;
  color: #112a65;
}
.header-para {
  font-family: "Montserrat", sans-serif;
  margin-top: -25px;
  font-size: 18pt;
  line-height: 22pt;
  font-weight: 500;
  width: 900px;
  color: white;
}
.know-more-button{
    text-decoration: none;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 22pt;
  padding: 16px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 100px;
  background: rgb(31, 60, 140);
 background: -moz-linear-gradient(
    90deg,
    rgba(88, 116, 182, 1) 0%,
    rgba(31, 60, 140, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(88, 116, 182, 1) 0%,
    rgba(31, 60, 140, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(88, 116, 182, 1) 0%,
    rgba(31, 60, 140, 1) 100%
  ); 
}
.know-more-button:hover{
    background: rgb(31, 60, 140);
    background: -moz-linear-gradient(
       90deg,
       rgb(52, 92, 184) 0%,
       rgb(15, 42, 117) 100%
     );
     background: -webkit-linear-gradient(
       90deg,
       rgb(52, 92, 184) 0%,
       rgb(15, 42, 117) 100%
     );
     background: linear-gradient(
       90deg,
       rgb(52, 92, 184) 0%,
       rgb(15, 42, 117) 100%
     ); 
}
.statistics-container, .news-and-updates{
  padding: 70px;
  text-align: center;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.section-title{
  font-weight: 650;
  font-size: 50pt;
  color: #112a65;
}

.half-line{
  margin-top: -20px;
  width: 1300px;
  color: #5d5d5d;
  opacity: 40%;
}
.statistics-content p{
  width: 1300px;
  color: #5d5d5d;
  font-size: 18pt;
  font-weight: 550;
}

.statistics-count-container{
  width: 100%;
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-around;
}

.counter{
  font-size: 35pt;
  font-weight: 600;
  padding: 0%;
  margin-bottom: 0px;
  background: linear-gradient(
    180deg, 
    rgb(31, 60, 140),
    rgb(88, 116, 182)
    );
  background: -webkit-linear-gradient(
    180deg, 
    rgb(31, 60, 140), 
    rgb(88, 116, 182)
  );
  background: -moz-linear-gradient(
    180deg, 
    rgb(31, 60, 140), 
    rgb(88, 116, 182)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.count-title{
  padding: 0%;
  margin-top: 0px;
  font-size: 30pt;
  font-weight: 400;
  color: #5d5d5d;
}

.news-and-updates{
  background-color: #f4f4f4;
  /* height: 100vh; */
}

.carousel-container{
  margin: 40px;
  width: 1650px;
  height: 550px;
  background-color: #112a65;
  border-radius: 80px;
}