@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.Header-container {
  padding: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.logo-container img {
  width: 80%;
}
.header-menu-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.header-menu-item a {
  margin: 25px;
  color: black;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 750;
  font-size: 11pt;
}
.first-main-container {
  background-size: cover;
  height: 100vh;
  /* background-image: url(images/face\ 1.jpg); */
  background-image: url(images/Main\ BG.png);
}
.open-window-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-title {
  font-family: "Montserrat", sans-serif;
  margin-top: 160px;
  font-size: 55pt;
  font-weight: 800;
  line-height: 60pt;
  color: #112a65;
}
.header-para {
  font-family: "Montserrat", sans-serif;
  margin-top: -25px;
  font-size: 15pt;
  line-height: 19pt;
  font-weight: 600;
  width: 850px;
  color: white;
}
.know-more-button{
    text-decoration: none;

  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 20pt;
  padding: 12px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 100px;
  background: rgb(31, 60, 140);
 background: -moz-linear-gradient(
    90deg,
    rgba(88, 116, 182, 1) 0%,
    rgba(31, 60, 140, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(88, 116, 182, 1) 0%,
    rgba(31, 60, 140, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(88, 116, 182, 1) 0%,
    rgba(31, 60, 140, 1) 100%
  ); 
}
.know-more-button:hover{
    background: rgb(31, 60, 140);
    background: -moz-linear-gradient(
       90deg,
       rgb(52, 92, 184) 0%,
       rgb(15, 42, 117) 100%
     );
     background: -webkit-linear-gradient(
       90deg,
       rgb(52, 92, 184) 0%,
       rgb(15, 42, 117) 100%
     );
     background: linear-gradient(
       90deg,
       rgb(52, 92, 184) 0%,
       rgb(15, 42, 117) 100%
     ); 
}